*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules/*
bower_components
npm-debug.log
datasources.json
node_modules/.bin
offerletters
dist/*
server/storage/
client/offertemplates/*
client/zip-files/*
